html, body {
    background: #2196f3;
    color: #fff;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    font-weight: 350;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
  }
  
  .content {
    margin: 0 auto;
    z-index: 100;
    position: relative;
    margin-top: 3;
  }
  
  .error-message {
    text-align: center;
    margin-top: 20px;
  }
  
  .header {
    width: 100%;
    height: 50px;
    padding: 205px 0 0;
    max-width: 500px;
    margin: 0 auto;
  }
  
  .header .search-wrapper {
    margin: 0 auto 20px;
  }
  
  .header svg {
    color: #fff;
    fill: #fff;
    margin: 5px 10px;
  }
  
  .header input.search {
    background-color: transparent;
    border: none;
    outline: none;
    width: 400px;
    height: 50px;
    transition: border-color 0.2s;
    color: #fff;
    vertical-align: top;
    border-bottom: 1px solid #fff;
    font-size: 40px;
  }
  
  ::-webkit-input-placeholder {
    color: #efefef;
    font-size: 28px;
  }
  
  input::focus {
    color: #fff;
  }
  
  button {
    display: none;
  }
  
  
  .container {
    vertical-align: top;
    max-width: 500px;
    margin: 30px auto 0;
  }
  
  .text-inner {
    padding: 0 25px;
  }
  
  .text-inner .left {
    float: left;
  }
  
  .text-inner .right {
    float: right;
    text-align: right;
    margin-top: 15px;
  }
  
  #map {
    display: block;
    width: 100%;
    height: 700px;
    pointer-events: none;
    z-index: 0;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    z-index: 0;
    opacity: 0.5;
  }
  
  .icon {
    font-size: 50px;
    position: relative;
    top: -7px;
    margin-right: 15px;
  }
  
  .name {
    font-size: 28px;
    font-weight: 300;
    padding: 25px 25px 0;
  }
  
  .time, .ampm {
    float: right;
    text-align: right;
  }
  
  .ampm {
    font-size: 20px;
    margin-top: 7px;
    margin-left: 10px;
    display: inline-block;
  }
  
  .temp-display {
    font-size: 72px;
  }
  
  .unit {
    font-size: 30px;
    vertical-align: top;
    line-height: 74px;
    margin-left: 10px;
    display: inline-block;
  }
  
  .description {
    text-transform: capitalize;
  }
  
  .forecast {
    clear: both;
    position: relative;
    top: 50px;
    margin: 0 auto;
    text-align: center;
  }
  
  .day-wrapper {
    display: inline-block;
    margin: 0 24px;
    text-align: center;
  }
  
  .day {
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 0.7px;
    color: #eee;
  }
  
  .max {
    font-size: 28px;
  }
  
  .min {
    font-size: 16px;
    color: #efefef;
  }
  
  @media (max-width: 768px) {
    .content {
      top: 15%;
    }
  }
  
  @media (max-width: 500px) {
    .header input.search {
      font-size: 20px;
      letter-spacing: 0.5px;
      width: 70%;
    }
  
    ::-webkit-input-placeholder {
      font-size: 20px;
      letter-spacing: 0.5px;
    }
  
    .temp-display {
      font-size: 50px;
    }
  
    .unit {
      line-height: 60px;
    }
  
    .icon {
      font-size: 30px;
    }
  
    .day-wrapper {
      margin: 0 10px;
    }
  }
  
  @media (max-width: 370px) {
    .content {
      top: 7%;
    }
  
    .container {
      padding: 0 15px;
    }
  
    .header input.search {
      font-size: 16px;
      letter-spacing: 0;
    }
  
    ::-webkit-input-placeholder {
      font-size: 16px;
      letter-spacing: 0;
    }
  
    .day-wrapper {
      margin: 0 7px;
    }
  }
  